body {
  display: flex;
  justify-content: center;
  background: #1E90FF;
  align-items: center;
  min-height: 100vh;
}
p {
  user-select: none;
  color: #87CEFA;
  font-weight: bold;
  font-family: "Josefin Slab";
  opacity: .5;
  font-size: 8vw;
  pointer-events: none
}